<mat-toolbar color="primary">
  <span>Alugel de Temas</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/dashboard">Dashboard</button>
  <button mat-button routerLink="/clients">Clientes</button>
  <button mat-button routerLink="/themes">Temas</button>
  <button mat-button routerLink="/items">Itens</button>
  <button mat-button routerLink="/rents">Aluguéis</button>
  <button mat-button routerLink="/addresses">Endereços</button>
</mat-toolbar>
<router-outlet></router-outlet>
